# JetBrains IDE
.idea/

# .NET Core
src/JobMatcher/bin/
src/JobMatcher/obj/

# Application Configuration (Secrets)
src/JobMatcher/appsettings.Development.json
src/JobMatcher/profile.json
src/JobMatcher/.env